div.concept {
  min-width: 200px;
  position: relative;
  padding-top: 10px;

  .concept-head {
    position: relative;
  }

  h2 {
    cursor: default;
    font-size: 1.9em;
    min-height: 1.4em;
    line-height: 1.4em;
    padding: 0px 10px 0px 20px;
    margin-bottom: 12px;
    max-width: 85%;
  }

  .actions {
    float: right;
    padding-right: 6px;
  }

  .add-to-clipboard, .remove-from-clipboard, .toggle-system-info, .toggle-all-properties {
    text-indent: -2000px;
    overflow: hidden;
    display: inline-block;
    width: 18px;
    height: 18px;
    @include svg-icons;
  }

  .add-to-clipboard {
    background-position: -52px -1002px;
    @include scale(1.1);
  }
  .remove-from-clipboard {
    @include scale(1.1);
    background-position: -101px -1002px;
  }

  .toggle-system-info {
    background-position: -48px -650px;
    &:hover {
      background-position: -98px -650px;
      cursor: pointer;
    }
  }

  .toggle-all-properties {
    float: right;
    background-position: -49px -599px;
    margin: 6px;
    &:hover {
      background-position: -99px -599px;
      cursor: pointer;
    }
  }

  .broader-and-narrower, &>.properties, .concept .properties {
    position: relative;
  }

  .system-info {
    line-height: 12px;
    padding: 8px 0 4px 0;

    table {

      td, th {
        font: 11px monospace;
        vertical-align: baseline;
      }

      th {
        text-transform: none;
        width: auto;
        padding: 0 1px 0 0;
        &:after {
          content:":";
        }
      }

      td {
        padding: 0 6px 0 0;
      }

      tr {
        float: left;
        padding-bottom: 3px;
      }
    }
  }

  >.system-info {
    margin-left: 16px;
    padding-bottom: 10px;
  }

  ul.index, ul.values {
    overflow: hidden;
    list-style: none;
  }

  ul.values {

    li {
      display: none;

      &.selected {
        display: block;
      }
    }
  }

  ul.index {
    padding-bottom: 16px;
    padding-top: 4px;

    li {
      position: relative;
      float: left;
      text-transform: uppercase;
      font-size: 0.8em;
      line-height: 1.2em;
      padding: 0 10px;
      cursor: pointer;
    }
  }

  .terms {
    margin-top: 50px;

    .no-terms {
      padding: 3px 30px;
    }

    section.language {
      clear: both;
      margin-top: 12px;
      min-height: 18px;
      &>h3 {
        margin: 1px 0;
        background: none;
        @include box-sizing(border-box);
        width: 100%;
        z-index: 1;
      }
    }

    ul {
      list-style: none;
      padding-bottom: 3px;
    }
  }

  li.term {
    position: relative;

    h4.value {
      font: 1.3em $serif;
      margin-left: 112px;
      margin-right: 30px;
      padding: 8px 0 6px 0;
      position: relative;
      display: inline-block;
      width: auto;
      z-index:1;
    }

    .edit-actions {
      z-index:1;
    }

    >.system-info {
      margin-left: 116px;
      position: relative;
      z-index:1;
      table {
        margin-top: 2px;
      }
    }

    section.properties {

      h3, .collapsed h3 {
        text-indent: -2000px;
        overflow: hidden;
        position: absolute;
        background: none;
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        top:0;
        bottom: 0;
        right: 0;
        left:0;
        z-index: 0;

        &:before {
          position: absolute;
          top: 8px;
          right: 6px;
          width: 18px;
          height: 18px;
          @include rotate(0deg);
          background-position: -49px -599px;
        }

        &:hover {
          &:before {
            background-position: -99px -599px;
          }
        }
      }

      &>div {
        margin-left: 112px;
        position: relative;
        z-index:1;
      }
    }
  }


  &.show, &.edit {

    section {

      &>h3 {
        &:before {
          @include before-icon;
          display: inline-block;
          height: 12px;
          @include rotate(0deg);
          background-position: -51px -6px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      &.collapsed h3 {
        &:before {
          @include rotate(-90deg);
          background-position: -53px -7px;
        }
      }
    }
  }

  &.edit {
    section h3 {
      margin-left: 38px;
    }
  }

}

#coreon-concepts:not(.widget).medi {
  div.concept {
    font-size: 0.9em;

    h2 {
      font-size: 1.6em;
      min-height: 1em;
      margin-bottom: 6px;
      max-width: 80%;
      &:before {
        top: 8px;
      }
    }

    table {
      ul.index {
        padding-bottom: 12px;
        height: 9px;
      }
    }

    .terms {
      margin-top: 16px;
      .term h4.value {
        font-size: 1.3em;
        padding: 7px 0 5px 0;
        margin-left: 85px;
      }

      .term >.system-info {
        margin-left: 85px;
        table {
          margin-top: 2px;
        }
      }

      li.term section.properties {
        h3 {
          top: -1px;
          &:before {
            top: 6px;
            right: 6px;
          }
        }

        &>div {
          margin-left: 85px;
        }
      }
    }

  }
}

.mini, .widget.medi, .widget.maxi {
  div.concept {
    font-size: 0.9em;

    h2 {
      font-size: 1.2em;
      line-height: 1.4em;
      padding: 1px 6px 1px 16px;
      margin-bottom: 6px;
      max-width: 65%;
    }

    .toggle-system-info {
      display: none;
    }

    .system-info {
      display: none;
    }

    .broader-and-narrower {
      display: none;
    }

    table {
      margin-left: 16px;
      width: 90%;
      tr {

        .values, .value {
          clear: both;
          padding-bottom: 6px;
        }
      }
      ul.index {
        padding-bottom: 0px;
      }
    }

    .toggle-all-properties {
      margin: 4px 2px 2px 0;
    }
  }

  div.concept.show, div.concept.edit {
    section.language {
      margin-top: 0px;
      >h3 {
        margin-top: 2px;
      }
    }

    .submit {
      position: relative;
      z-index: 1;
    }
    .terms {
      margin-top: 6px;
      .language:before {
        content: none;
      }

      .term h4.value {
        font-size: 1.1em;
        padding: 4px 0 3px 0;
        margin-left: 16px;
      }

      .language .properties {
        background: none;

        h3 {
          right: 0px;
          &:before {
            top: 2px;
            right: 2px;
          }
        }

        &>div {
          margin-left: 0px;
          background: none;
          border-top: 1px solid white;

          &.add {
            margin-left: 0px;

            .edit-actions {
              border: none;
            }
          }
        }
      }
    }
  }

  div.concept.edit {
    .terms .term h4.value{
      padding-top: 12px;
    }
  }
}

