#coreon-modal {
  
  .modal-shim {
    width: 50%;
    height: 3000px;
  }
  
  .dialog {
    @include box-sizing(border-box);
    background-color: $button-color;
    @include box-shadow(rgba(white, 0.4) 0px 1px 1px inset, rgba(black, 0.2) -1px -1px 2px inset, rgba(black, 0.4) 2px 2px 5px);
    min-width: 200px;
    width: 30%;
    max-width: 400px;
    color: white;
    padding-bottom: 42px;
    
    .actions {
      overflow: hidden;
      float: right;
      padding: 8px 10px;
      
      a {
        margin-left: 8px;
      }
      
      .confirm {
        font-size: 18px;
        padding: 4px 10px;
      }
      
      .cancel {
        margin-top: 4px;
      }

    }
    
    p {
      padding: 10px 15px;
       @include box-shadow(rgba(black, 0.2) 0px -1px 1px inset);
       border-bottom: 1px solid rgba(white, 0.2);
    }
    

    
    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: -6px;
      left: 36px;
      width:12px; 
    	height:12px;
    	background-color: $button-color;
      @include box-shadow(rgba(black, 0.4) 1px -1px 1px inset, rgba(black, 0.3) -2px 2px 2px);      
    	@include rotate(-45deg);
    }
    
    &.flipped {
      &:before {
        top: -6px;
        background-color: lighten($button-color, 6);
        @include box-shadow(rgba(white, 0.2) -1px 1px 1px inset);
      }
    }
  }
  
}