div.repository {
  min-width: 200px;
  position: relative;
  
  h2 {
    display: inline-block;
    font-size: 1.9em;
    line-height: 1.4em;
    padding: 4px 16px 2px 16px;
    margin-bottom: 12px;
    margin-right: 30px;
  }
  
  .create-concept {
    float: right;
  }
  
  .description {
    padding: 30px 0 20px 0;
    &:empty {
      display: none;
    }
  }
  
  table.meta {
    width: 100%;
    padding-top: 20px;
  }
  
  .contact {    
    margin-top: 30px;
    margin-right: 0;
    
    h3 {
      position: relative;
      height: 20px;
      top: 20px;
    }

    table.managers {
      width: 100%;

      td, th {      
        &:first-child {
          padding-left: 112px;
        }
      }
      th {
        &:first-child{
          text-indent: 0px;
        }
      }
    }
  }  

}

.medi {
  div.repository {
      font-size: 0.9em;
    
    .contact table.managers {

        td, th {      
          &:first-child {
            padding-left: 82px;
          }
        }
    }  
  }

}

.mini {
  div.repository {
    font-size: 0.9em;
    
    .contact {    
    
      h3 {
        top: 0px;
      }
    }
      
    table.meta {
      padding-top: 5px;
      td {
        clear: both;
        padding-bottom: 6px;
      }
    }
    
    .contact table.managers {

      td, th {      
        &:first-child {
          padding-left: 0px;
        }
      }
    }  
  }
}