.panel {
  .titlebar {
    .actions {

      a {
        background: darken($button-color, 20);
        border-left: 1px solid rgba(white, 0.9);
        @include box-shadow(rgba(black, 0.2) -1px -1px 1px inset);
        &:hover {
          background: $link-color;
        }
      }
      
      .maximize {
        &:before {
          background-position: -149px -1150px;
        }

        &:hover {
          &:before {
            background-position: -149px -1150px;
          }
        }
      }
    }
  }
}

.titlebar {
  h3 {
    color: $label-color;
  }
}


