#coreon-term-list {


  table {
    border-top: 1px solid rgba(white, 0.2);
    
    li {
      border-bottom: 1px dotted rgba(black, 0.1);
    }

    tr {
      border-bottom: 1px solid rgba(black, 0.06);
      border-top: 1px solid rgba(white, 0.5);
      
      &.term:hover {
        
        td, td a {
          color: $link-color;
        }
      }

      &.term td {
        color: darken($text-color-light, 20);
      }

      a {
        color: $text-color;
      }

      &.hit a {
        color: darken($hit-color, 5);
      }

      &:last-child {
          border-bottom: none;
      }
      
      &:first-child {
          border-top: none;
      }
      
      &.empty  {
        td {
          color: $text-color-light;
        }
      }
      
      &.placeholder {
        background-color: rgba(darken($darker-bg-color, 20), 0.2);
      }
    }
  }
}

#coreon-term-list:not(.widget) {
    
    table {
      padding-top: 10px;      
      @include retina-separator;
    }
}
