<div id="coreon-app"></div>
<script type="text/javascript">
  (function() {
    var app = new Coreon.Application({
      el:   "#coreon-app",
      auth_root: "<%=j CoreClient.config[:auth_root] %>"
    });

    jQuery(function () { app.start(); });
  })();
</script>
