#coreon-modal {

  #asset-view {
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.7);

    .pane {
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      width: 60%;
      max-width: 800px;
      background: #fff;

      .form {
        height: 100%;
        position: relative;

        .actions {
          position: absolute;
          top: 0;
          left: 0;
          height: 0;
          width: 100%;

          .navigation {
            display: inline-block;
            width: 80%;
            float: left;

            .previous {
              float: left;
            }

            .next {
              float: right;
            }
          }

          .download-close {
            display: inline-block;
            width: 20%;
            float: left;

            .download {
              display: inline-block;
              float: left;
              padding-right: 10px;
            }

            .close {
              display: inline-block;
              float: right;
            }
          }

        }

        .preview {
          display: inline-block;
          width: 80%;
          max-width: 600px;

          img {

            width: 100%;
            height:auto;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .info {
          display: inline-block;
          float: right;
          width: 20%;
          max-width: 200px;
          padding-top: 20px;
        }

      }
    }

  }


}