#coreon-clipboard.widget {
  
  h3:before {
    background-position: -2px -1002px;
    @include scale(0.9);
  }

  ul {
    padding: 8px 20px;
    position: absolute;
    top: 20px;
    bottom: 1px;
    left: 0;
    right: 0;
    overflow: auto;
    
    li {
      padding: 1px 10px 3px 0px;
    }
  }
}
