#coreon-concepts.widget {
  
  .titlebar h3:before {
    background:none;
    width: 5px;
    height: 5px;
    padding: 0;
    @include border-radius(5px);
    margin-top: 2px;
    margin-right: 4px;
    border: 2px solid $label-color;
  }
  
  .content {
    overflow: auto;
    position: absolute;
    top: 20px;
    bottom: 1px;
    left: 0;
    right: 0;
    padding: 0 12px;
    background-color: rgba(white, 0.5);
  }
  
  div.repository {
    
    h2 {
      font-size: 1em;
      margin: 7px 0;
      padding: 3px 8px 2px 8px;
    }
    
    .edit {
      display: none;
    }
  }
  
  .concept {
    .edit-concept {
      float: right;
      position: relative;
      text-indent: -2000px;
      overflow: hidden;
      top: 0;
      width: 14px;
      padding: 3px;
      margin-left: 3px;
    }   
  }
  
  .concept-list {
    
    .edit {
      display: none;
    }
    
    &>table {
      td:not(.empty-list) {
        padding: 1px 0;
      }

      .concept-list-item>td{

        table {          
          tr.definition, tr.lang {
            display: none;
          }
        }
      }
    }
  }
  
//  &.medi, &.maxi {
//    .content {
//      padding-left: 24px;
//    }
//  }
}
