#coreon-languages {
  
  h3 {
    &:before {
      content: none;
    }
  }

  form {
    padding: 8px 0 8px 5%;
  }
  
  .arrow {
    display: inline-block;
    width: 10%;
    height: 11px;
    @include svg-icons;
    background-position: 6px -152px;
  }
}