#coreon-search {
  @include box-sizing(border-box);
  padding: 11px 14px;
  background-color: $darkerbluecolor;
  @include box-shadow(rgba(white, 0.4) 0px 1px 1px inset, rgba(black, 0.2) -1px -1px 1px inset);
  
  label {
    display: none;
  }
  
  #coreon-search-query {
    width: 80%;
    max-width: 400px;
    height: 28px;
    padding-left: 28px;
    @include single-box-shadow($text-color, 1px, 1px, 2px, false, inset);
    float: left;
  }

  #coreon-search-target-select {

    position: absolute;
    
    .toggle {
      display: block;
      float: left;
      width: 28px;
      height: 28px;
      @include retina-icons;
      background-position: 3px 0px;
      &:hover {
        background-position: -47px 0px;
      };
    }

    .hint {
      float: left;
      color: lighten($text-color, 60%);
      padding-top: 6px;
    }

  }
  
  input[type="submit"] {
    @include submit-button;
    background-position: -100px -1200px;   
  }
  
}


