#coreon-concepts.widget {
@include background(linear-gradient(lighten($darker-bg-color, 8), lighten($darker-bg-color, 5)));
  
  .concept-list {
    &>table {
      border: none;
    }
  }
  
  div.concept {
    li.term {
      @include single-box-shadow(none);
      margin-bottom: 0px;
      &:not(:last-child) {
        border-bottom: 1px solid rgba($secondary-color, 0.2);
      }
      background: none;
    }  
  }
  
}
