#coreon-concepts.widget {
  
  .concept-list {
    &>table {
      border: none;
    }
  }
  
  div.concept {
    li.term {
      @include single-box-shadow(none);
      margin-bottom: 0px;
      border-bottom: 1px solid rgba($secondary-color, 0.2);
      background: none;
    }  
  }
  
}
