#coreon-login {

  
  label {
    color: $label-color;
  }
  
  form {

    input[type="submit"] {
      color: $text-color;
      
      &:not(:disabled) {
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}


