$text-color: black;
$hit-color: #3da2e6;
$link-color: #43aaa4;
$hover-color: #5fba83;

//text-color light
$text-color-light: #716f65;

//label-color
$label-color: black;

//header background
$bg-color: white;

//widget bg color
$darker-bg-color: #f9fbf8;

//term background
$secondary-color: #dff0f5;

//search + language widget backgrond
$search-bg-color: #65b8e6;

//edit-background color
$editmode-color: #3e4c49;
$editmode-color: #365c5c;

//button hover color, drag&drop
$button-hover-color: #3e6d64;
$button-hover-color: #4b8474;

//button-color
$button-color: #92a7b1;

$error-color: #f25a5a;
$notice-color: #6bc175;