#coreon-password-prompt {
  background-color: rgba($text-color, 0.5);
  
  .prompt {
    background-color: $darker-bg-color;
    
    form {
      border-bottom: 1px solid darken($darker-bg-color, 4%);
    }
    
    .links {
      border-top: 1px solid lighten($darker-bg-color, 4%);
      @include retina-stripes("white");
    }
    
  }
}

.coreon-select-dropdown, 
#coreon-search-target-select-dropdown {
  
  ul.options {
    background-color: $bg-color;
    
    .option {
      color: $label-color;
      
      &:last-child {
        @include border-bottom-radius(6px);
      }
      
      &.focus {
        background-color: rgba($text-color, 0.08);
      }
      
      &.selected {
        color: $secondary-color;
      }
    }
  }
}

#coreon-search-target-select-dropdown {
  
  ul.options {
    @include dottedline;
    @include border-bottom-radius(6px);
    
    .option {
      &:first-child {
        border-bottom: 1px solid darken($darker-bg-color, 2%);
      }
    }
  }  
}

.coreon-select-dropdown {
  
  ul.options {
    @include border-radius(4px);

    .option {
      
      &:first-child {
        @include border-top-radius(4px);
      }

      &.selected a, &.selected span {
        color: $secondary-color;
      }
      
      a, span {
        color: $label-color;
      }
    }
  }  
  
  &.blue {
    ul.options {
      background-color: lighten($secondary-color, 40);
    }
  }
  
  &.filters-select {
    ul.options {
      @include border-radius(8px);
      
      .option {   
        &:first-child {
          @include border-top-radius(8px);
        }
      }
    }    
  }
}
