$text-color: #3f3b2c;
$hit-color: #3da2e6;
$link-color: #43aaa4;
$petrol: #5498b0;
$secondary-color: $petrol;
$button-hover-color: #73a254;
$editmode-color: #c3ccb9;
$search-bg-color: #6cb1d3;
$hover-color: #5fba83;
$label-color: #554f3c;
$darkbrowncolor: #58513d;
$button-color: #717a53;
$darker-bg-color: #e1ebe9;
$text-color-light: #989791;
$bg-color: #f0f3f4;
$error-color: #f25a5a;
$notice-color: #6bc175;