$text-color: #3f3b2c;
$hit-color: #3da2e6;
$link-color: #43aaa4;
$petrol: #5498b0;
$bluecolor: $petrol;
$button-color: #73a254;
$editmode-color: #c3ccb9;
$darkerbluecolor: #6cb1d3;
$hover-color: #5fba83;
$browncolor: #554f3c;
$darkbrowncolor: #58513d;
$greencolor: #717a53;
$greycolor: #e1ebe9;
$greytext-color: #989791;
$beigecolor: #f0f3f4;
$error-color: #f25a5a;
$notice-color: #6bc175;