<!DOCTYPE html>
<html>
<head>
  <title>core-ui</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "environment" %>
</head>
<body>
<%= yield %>
</body>
</html>
