#coreon-login {
  position: relative;
  width: 900px;
  margin: 30px auto;

  .logo {
    display: block;
    text-indent: -1000px;
    overflow: hidden;
    background:image-url("layout/coreon.svg") no-repeat 30px 0;
    width: 240px;
    height: 100px;
    position: relative;
    top: 160px;
  }

  h3 {
    font: 1.6em $serif;
  }

  label {
    display: block;
    color: $label-color;
    padding-bottom: 5px;
    padding-top: 35px;
    abbr {
      border: none;
    }
  }

  .create-guest-session {
    display: inline-block;
    margin-left: 380px;
    margin-top: 16px;
    text-transform: uppercase;
    padding-left:30px;
    padding-top: 6px;
    height:20px;
    @include svg-icons;
    background-position: -3px -1250px;

  }

  form {
    width: 520px;
    padding-bottom: 50px;
    margin-left: 380px;

    button[type="submit"] {
      position: relative;
      float: right;
      left: -120px;
      top: -30px;
      height:30px;
      padding-left:30px;
      border: none;
      background:image-url("layout/icons.svg") no-repeat 0 3px;
      @include svg-icons;
      background-position: -3px -1250px;
      outline:0;
      font: 1.5em $serif;

      &:not(:disabled) {
        &:hover {
          color: $secondary-color;
        }
      }

       &:disabled {
         @include opacity(0.5);
       }
    }
  }
}


