#coreon-login {
  position: relative;
  width: 1100px;
  margin: 20px auto;
  overflow: hidden;
  padding-bottom: 50px;

  .logo {
    display: inline-block;
    text-indent: -1000px;
    overflow: hidden;
    background:image-url("layout/coreon.svg") no-repeat 30px 0;
    width: 240px;
    height: 100px;
    position: relative;
  }
  
  h2 {
    position: relative;
    left: 123px;
    top: -24px;
    color: $hit-color;
    font-size: 1em;
  }

  h3 {
    font: 1.6em $serif;
  }

  label {
    display: block;
    color: $label-color;
    padding-bottom: 5px;
    padding-top: 35px;
    abbr {
      border: none;
    }
  }
  
  .welcome {
    position: relative;
    width: 330px;
    margin-top: 40px;
    margin-left: 123px;
    float: left;
    padding-top: 20px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      right: -50px;
      top: -30px;
      width: 1px;
      height: 330px;
      background-color: darken($darker-bg-color, 5);
      border-right: 1px solid white;
      border-left: 1px solid white;
//      border-left: 1px solid darken($darker-bg-color, 5);
    }
    
    h3 {
      font: 0.8em 'DroidSans', Trebuchet MS, Lucida;
      display: inline-block;
      position: relative;
      top: -40px;
    }
    p {
      padding: 6px 0;
    }
  }

  .create-guest-session {
    display: block;
    margin-left: 550px;
    margin-top: 16px;
    text-transform: uppercase;
    padding-left:30px;
    padding-top: 6px;
    height:20px;
    @include svg-icons;
    background-position: -3px -1250px;

  }

  form {
    width: 500px;
    margin-left: 550px;
    padding-bottom: 50px;
    margin-top: 40px;

    button[type="submit"] {
      position: relative;
      float: right;
      left: -100px;
      top: -30px;
      height:30px;
      padding-left:30px;
      border: none;
      background:image-url("layout/icons.svg") no-repeat 0 3px;
      @include svg-icons;
      background-position: -3px -1250px;
      outline:0;
      font: 1.8em $serif;

      &:not(:disabled) {
        &:hover {
          color: $secondary-color;
        }
      }

       &:disabled {
         @include opacity(0.5);
       }
    }
  }
}


