#coreon-concepts.widget {
  background-color: white;

  div.concept {
    .edit-concept {
      height: 14px;
    }  
    
    li.term {    
      &:not(:last-child) {
        border-bottom: 1px solid lighten($button-color, 20);
      }
    } 
    
    .terms {      
      section.language {  
  
        &>h3 {
          &:after {
            background-color: lighten($button-color, 34);      
          }   
        }    
      }
    }   
  }
  .concept-list {

    &>table {
      border:none;
    }
  }
  
}

