#coreon-concepts.widget {

  div.concept {
    .edit-concept {
      height: 14px;
    }   
    
    .terms {
      
      section.language {  
  
        &>h3 {
          &:after {
            background-color: lighten($button-color, 34);      
          }   
        }    
      }
    }
    
    
  }
  .concept-list {

    &>table {
      border:none;
    }
  }
  
}

