.widget {
  background: $darker-bg-color;
  .titlebar {
    background: rgba($button-color, 0.18);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  } 
  
  &.blue-widget {
    background: $secondary-color;
    
    .titlebar {
      background: darken($secondary-color, 5);
    }
  }
  
}
