.widget {
  background: $darker-bg-color;
  
  .titlebar {
    background: rgba($button-color, 0.13);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    h4 {
      color: $label-color;
    }

    .actions {

      a {
        background: $button-color;
        border-left: 1px solid rgba(white, 0.9);
        @include box-shadow(rgba(black, 0.2) -1px -1px 1px inset);
        &:hover {
          background: $link-color;
        }
      }
    }
  }
  
  
  &.blue-widget {
    background: $secondary-color;
    
    .titlebar {
      background: darken($secondary-color, 4);
    }
  }
  
}
