#coreon-term-list {
  
  .toggle-scope {

    &:before {
      background-position: -149px -851px;
    }

    &:hover {
      &:before {
        background-position: -149px -851px;
      }
    }
  }


  table {
    
    li {
      border-bottom: 1px dotted rgba(black, 0.1);
    }

    tr {
      border-bottom: 1px solid rgba(black, 0.06);
      border-top: 1px solid rgba(white, 0.5);
      
      &.term:hover {
        
        td, td a {
          color: $link-color;
        }
      }

      &.term td {
        color: $text-color;
      }

      a {
        color: $text-color;
      }

      &.hit a {
        color: darken($hit-color, 5);
      }

      &:last-child {
          border-bottom: none;
      }
      
      &:first-child {
          border-top: none;
      }
      
      &.placeholder {
        background-color: rgba(darken($darker-bg-color, 20), 0.2);
      }
    }
  }
}
