.coreon-select {
  
  &:before {
    @include before-icon;
    position: absolute;
    height: 14px;
    width: 18px;
    left: 0;
    background-position: 1px -7px;
  }
  
  &:hover {
    &:before {
      background-position: -49px -7px;
    }
    cursor: pointer;
  }
  
  position: relative;
  display: inline-block;
  font-size: 0.86em;
  line-height: 1.4em;
  padding: 2px 12px 1px 22px;
  
  &.single {
    padding-left: 12px;
    @include box-shadow(none);
    &:before {
      display: none;
    }    
  }
  
  &.filters-select {
    padding: 3px 12px 2px 26px;
    font-size: 0.94em;
    
    &.single {
      padding-left: 12px;
    }
    
    &:before {
      height: 18px;
      margin-left: 3px;
    }
  }
  
}
