.concept {
  
  .terms {

    >.language {

      &:before {
        content:"";
        display: block;
        width: 19px;
        height: 16px;
        position: absolute;
        background: $darker-bg-color;
        background-image: image-url('layout/flags.png');
        @include background-size(250px 200px);
        background-position: -1px 0px;
        left: -20px;
        margin-top: 1px;
        @include border-top-left-radius(3px);
        @include border-bottom-left-radius(3px);
        @include single-box-shadow(rgba(black, 0.4), 1px, 1px, 2px, false, inset);
      };
      &.bg:before {
        background-position: -25px -40px;
      }
      &.cs:before {
        background-position: -100px -40px;
      }
      &.da:before {
        background-position: 0px -60px;
      }
      &.de:before {
        background-position: -100px -60px;
      }
      &.en:before {
        background-position: -75px -180px;
      }
      &.el:before {
        background-position: 0px -80px;
      }
      &.es:before {
        background-position: -100px -160px;
      }
      &.et:before {
        background-position: -25px -60px;
      }
      &.fi:before {
        background-position: -50px -60px;
      }
      &.fr:before {
        background-position: -75px -60px;
      }
      &.hu:before {
        background-position: -25px -80px;
      }
      &.it:before {
        background-position: -100px -80px;
      }
      &.lt:before {
        background-position: -50px -100px;
      }
      &.lv:before {
        background-position: 0px -100px;
      }
      &.lt:before {
        background-position: -50px -100px;
      }
      &.mt:before {
        background-position: 0px -120px;
      }
      &.nl:before {
        background-position: -100px -120px;
      }
      &.pl:before {
        background-position: -25px -140px;
      }
      &.pt:before {
        background-position: -50px -140px;
      }
      &.ro:before {
        background-position: -75px -140px;
      }
      &.ru:before {
        background-position: -100px -140px;
      }
      &.sk:before {
        background-position: -50px -160px;
      }
      &.sl:before {
        background-position: -75px -160px;
      }
      &.sv:before {
        background-position: 0px -180px;
      }
    }
  }
}