 * {
   margin: 0;
   padding: 0;
 }

 body {
   font: 81% 'DroidSans', Trebuchet MS, Lucida;
   line-height: 1.5em;
   color: $text-color;
   margin: 0;
 }

 h1, h2, h3, h4 {
   font-weight: normal;
 }

 a {
   text-decoration: none;
   &:active, &:visited, &:focus {
     outline: none;
   }
 }

 button::-moz-focus-inner {
    padding: 0;
    border: none;
  }

 input[type="email"], input[type="password"], input[type="text"], textarea {
   @include box-sizing(border-box);
    height:30px;
    width: 260px;
    padding:6px 8px 4px 8px;
    border: none;
    outline:0;
    font: 1em'Droid_Sans', Trebuchet MS, Lucida;
    color: $text-color;
    @include single-box-shadow(desaturate(lighten(#333333, 40%), 20%), 1px, 1px, 2px, false, inset);
    &:disabled {
      @include opacity(0.5);
    }
 }

 h3 {
   display: inline-block;
   text-transform: uppercase;
   font-size: 0.9em;
   margin: 0;
 }

 .concept h3 {
   font-size: 0.8em;
   line-height: 16px;
   padding: 0 7px 0 0;
   margin: 6px 0 5px 0;
 }

.concept-label {
  position: relative;
  &:before {
    content:"";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: 6px;
    left: 4px;
    border: 1px solid lighten($text-color, 20%);
    @include border-radius(4px);
  }

   display: inline-block;
   padding: 1px 3px 0px 14px;
   line-height: 1.3em;
   background-color: white;
   color: $text-color-light;

   &.hit {
     color: $hit-color;
     &:hover {
       color: $secondary-color;
     }
   }
 }

.repository-label {
  display: inline-block;
  padding: 1px 8px 0 8px;
}

.empty td, .empty-list, .no-terms {
  font: 1em Palatino;
  font-style: italic;
  color: lighten($text-color-light, 10%);

  &:before {
    content: "{";
      font-size: 1.2em;
  }

  &:after {
    content: "}";
    font-size: 1.2em;
  }
}

.placeholder {

  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    background: image-url("layout/loadingWhite.svg") no-repeat 2px 2px;
    @include background-size(16px 16px);
    @include border-radius(10px);
    background-color: rgba($text-color-light, 0.4);
    width: 20px;
    height: 20px;
    animation: spin 0.8s linear infinite;
    -webkit-animation: spin 0.8s linear infinite;
  }
}

@keyframes spin {
  0% {transform:rotate(0deg);}
  100% {transform:rotate(360deg);}
}

@-webkit-keyframes spin {
  0% {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);}
}

.concept table, table.meta {
  border-spacing: 0;
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0;

  tr, tbody {
    display: block;
  }

  td {
    display: block;
    margin-left: 114px;
  }

  tr {
      vertical-align: top;
      clear: both;

    td, th {
      padding-top: 5px;
      padding-bottom: 0.4em;
    }

    th {
      display: block;
      float: left;
      clear: both;
      font-weight: normal;
      text-align: right;
      text-transform: uppercase;
      font-size: 0.8em;
      line-height: 1.3em;
      padding-top: 9px;
      width: 98px;
    }
  }
}

.medi {
  .concept table, table.meta {
    margin-left: 0px;
    tr td, tr th {
      padding-top: 2px;
      padding-bottom: 4px;
    }
    
    td {
//      margin-left: 85px;
    }

    tr th {
//      width: 69px;
      padding-top: 6px;
    }
  }
}
.mini, .widget.medi, .widget.maxi {
  .concept table, table.meta {
    tr {
      th, td {
        display: block;
        padding-top: 2px;
        padding-bottom: 0;
        margin-left: 0;
      }
      th {
        width: auto;
        padding-top: 3px;
        padding-right: 8px;
        text-align:left;
        float: left;
      }
    }
  }
}

table.managers, .concept-list>table {
  border-spacing: 0;
  width: 100%;
  min-width: 200px;
  margin-bottom: 30px;
  position: relative;

  thead th {
    position: relative;
  }
  tr {
    vertical-align: baseline;
    text-align: left;

    th {
      font-weight: normal;
      text-align: left;
      text-transform: uppercase;
      line-height: 15px;
      font-size: 0.8em;
    }

    td, th {
    padding: 3px 16px 2px 2px;
    }

  }
  &>tbody>tr:first-child>td {
      padding-top: 16px;
  }
}

#coreon-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  input[type="submit"] {
    @include box-sizing(border-box);
    height:29px;
    width: 40px;
    padding-left:30px;
    border: none;
    outline:0;
    background: rgba(0,0,0, 0.1) image-url("layout/icons.svg") no-repeat 8px -48px;
    text-indent: -2000px;
    overflow: hidden;
    @include box-shadow(rgba(white, 0.2) 1px 1px 0px inset, rgba(black, 0.2) -1px -1px 0px inset);
    &:hover {
       background-color: rgba(30,80,80, 0.3);
    }
  }
}

#coreon-filters {
  position: absolute;
  width: 100%;
  padding: 10px;
  background-color: white;
}

#coreon-header {
  @include box-sizing(border-box);
  background:image-url("layout/top-bg.jpg");
  padding:6px;
  width: 101%;
  @include single-box-shadow(rgba(0,0,0,0.8), 0, -1px, 2px, false, inset);

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background-image: image-url('layout/top-bg@2x.jpg');
      @include background-size(199px 65px);
  }
}

#coreon-modal {
  position: relative;
  height: 0;
  //for drag and drop
  width: 200%;

  z-index: 1000;
}

#coreon-widgets {
  position: absolute;
  right: 0;
  @include box-shadow(rgba(black, 0.3) -2px 0px 4px);

}

#coreon-main {
  position: absolute;
  left: 0;
  top: 54px;
  bottom: 0;
  width: 100%;

  .panel {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    min-width: 300px;
    @include box-sizing(border-box);
    padding: 30px 30px 0 50px;
  }
}

