#coreon-login {

  
  label {
    color: $label-color;
  }
  
  .welcome {
      @include retina-separator;
  }
  
  form {
    background: image-url("layout/separator.png") repeat-x bottom;
    @include retina-separator;
    
    &:before {
      content:"";
      display: block;
      width: 500px;
      height: 8px;
      @include retina-separator;
    };

    button[type="submit"] {
      color: $text-color;
      
      &:not(:disabled) {
        &:hover {
          color: $link-color;
        }
      }
    }
  }
}


