#coreon-login {

  
  label {
    color: $label-color;
  }
  
  form {
    background:image-url("layout/separator.png") repeat-x bottom;
    @include retina-separator;

    button[type="submit"] {
      color: $text-color;
      
      &:not(:disabled) {
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}


