@import '_config';
@import 'compass/css3';

#coreon-clipboard {
  h4:before {
    @include before-icon;
    float: left;
    background-position: -50px -700px;
  }
  ul {
    border-top: 1px solid rgba(white, 0.2);
    padding: 8px 20px;
    min-height: 12px;
    background-color: rgba($darkerbluecolor, 0.14);
    @include retina-stripes("white");
    
    li {
      list-style: none;
      padding: 1px;
      .concept-label {
        font-size: 0.9em;
        line-height: 1.3em;
        padding-top: 2px;
        @include single-box-shadow(desaturate(lighten($text-color, 50%), 20%), 1px, 1px, 2px);
      }
    }
  }
  
  &.ui-state-highlight {
    ul {
      background-color: rgba($button-color, 0.3);
      @include single-box-shadow(rgba($text-color, 0.5), 1px, 1px, 3px, false, inset);
      border-top: none;
      margin: 0 4px 0 3px;
      padding: 9px 16px 8px 17px;
    }
  }
  &.ui-state-hovered {
    ul {
      background-color: rgba($button-color, 0.4);
    }
  }
}