@import '_config';
@import 'compass/css3';

div.concept {
  margin-right: 270px;
  min-width: 200px;
  position: relative;
  padding-top: 10px;
  
  h2 {
    cursor: default;
    font-size: 1.9em;
    min-height: 1.4em;
    line-height: 1.4em;
    padding: 0px 10px 0px 20px;
    margin-bottom: 12px;
    max-width: 85%;
    &:before {
      border: 2px solid lighten($text-color, 20%);
      @include border-radius(5px);
      width: 5px;
      height: 5px;
      top: 11px;
    };
  }
  .actions {
    float: right;
  }
  .concept-to-clipboard, .system-info-toggle, .term .properties h3 {
    text-indent: -2000px;
    overflow: hidden;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: image-url("layout/icons.png");
    background-repeat: no-repeat;
    @include retina-icons;

  }
  
  .concept-to-clipboard {   
    background-position: -3px -650px;
    &.remove {
      background-position: -53px -650px;
    }
  }
  .system-info-toggle {
    background-color: rgba($greencolor, 0.08);
    background-position: -1px -201px;

    &:hover {
      cursor: pointer;
      background-position: -51px -201px;
    };
  }
  
  .broader-and-narrower, &>.properties, .concept .properties {
    position: relative;
    @include dottedline;
    overflow: hidden;
  }
  
  
  .system-info {
    line-height: 12px;
    padding: 8px 0 4px 0;
    
    table {
      
      td, th {
        font: 11px monospace;;
        color: $greytext-color;
        vertical-align: baseline;
      }     

      th {
        text-transform: none;
        width: auto;
        padding: 0 1px 0 0;
        color: lighten($greytext-color, 20%);
        &:after {
          content:":";
        }
      }

      td {
        padding: 0 6px 0 0;
      }

      tr {
        float: left;
        padding-bottom: 3px;
      }
    }
  }
  >.system-info {
    margin-left: 16px;
    padding-bottom: 10px;
  }
  
  table {
    @include table-properties;
  }
  
  ul.index, ul.values {
    overflow: hidden;
    list-style: none;
  }
  ul.values {
    li {
      display: none;
      &.selected {
        display: block;
      }
    }
  }
  
  ul.index {
    padding-bottom: 16px;
    padding-top: 4px;
  
    li {
      position: relative;
      float: left;
      text-transform: uppercase;
      font-size: 0.8em;
      line-height: 1.2em;
      padding: 0 10px;
      border-left: 1px solid $browncolor;
      cursor: pointer;
      color: $link-color;
      height: 11px;
      
      &:hover {
        color: $hover-color;
      };

      &:first-child {
        border:none;
        padding-left: 0;
      }
      
      &.selected  {
        color: $text-color;

        &:before {
          @include before-icon;
          position: absolute;
          bottom: -10px;
          left: 10px;
          background-position: -04px -100px;
        }

        &:first-child {
          &:before {
            left: 0;
          };
        }
      }
    }
  }
  
  .terms {
    margin-top: 60px;   
      .no-terms {
        @include empty;
        padding: 3px 30px;
      }
    section.language {
      margin-top: 12px;
      min-height: 18px;            
      &>h3 {
        margin: 1px 0;
        background: none;
        @include box-sizing(border-box);
        width: 100%;
        @include retina-BigSeparator;
        z-index: 1;
      }    
    }
    
    ul {
      list-style: none;
      padding-bottom: 3px;
      
      li.term {
        margin-bottom: 4px;
        @include single-box-shadow(rgba($greencolor, 0.4), 0px, 1px, 1px, false);
        background-color: rgba($bluecolor, 0.05);
      }
    }

  }
  
  .term {
    position: relative;

    h4.value {
      font: 1.4em Palatino;
      padding: 12px 100px 6px 112px;
      position: relative;
      &.toggle:hover {
        background-color: rgba($greencolor, 0.04);
      };
    }

    >.system-info {
      padding-left: 116px;
      table {
        margin-top: 2px;
      }
    }
    
    
    .properties {

      h3 {
        position: absolute;
        background-color: rgba($greencolor, 0.08);
        background-position: 2px -846px;
        margin: 0;
        padding: 0;
        right: 10px;
        top: 10px;
      }
      &>div {
        margin-left: 112px;
        @include dottedline;
      }
    }
  }

  
  &.show, &.edit {

    section {
      &>h3 {
        @include toggle;
        padding: 0;
        margin: 6px 0 5px 0;
        padding-right: 7px;
        color: $browncolor;
        background: rgba($greencolor, 0.08);
        &:before {
          @include rotate(0deg);
          background-position: -50px -103px;
        };
        &:hover {
          cursor: pointer;
        };
      }
      &.collapsed h3 {
        &:before {
          @include rotate(-90deg);
          background-position: -53px -103px;
        };
      }
    }
  }
  &.edit {
    section h3 {
      margin-left: 5px;
    }
  }
   
}

@media all and (max-width: 999px) and (min-width: 800px) {
  div.concept {
    font-size: 0.9em;
    
    h2 {
      font-size: 1.6em;
//      line-height: 1em;
      min-height: 1em;
      padding: 2px 6px 3px 16px;
      margin-bottom: 6px;
      max-width: 80%;
      @include concept-icon;
    }
    
    table {
      ul.index {
        padding-bottom: 12px;
        height: 9px;
      }
    }
    
    .terms {
      .term h4.value {
        font-size: 1.3em;
        padding: 3px 100px 2px 67px;
      }
      .term >.system-info {
        padding-left: 80px;
        table {
          margin-top: 2px;
        }
      }
      .properties {
        h3 {
          top: -1px;
        }
        &>div {
          margin-left: 64px;
        }
      }
    }

  }
}


@media all and (max-width: 799px) {
  div.concept {
    font-size: 0.9em;
    
    h2 {
      font-size: 1.2em;
      line-height: 1.4em;
      padding: 1px 6px 1px 16px;
      margin-bottom: 6px;
      max-width: 80%;
      @include concept-icon;
    }
    
    .system-info-toggle {
      display: none;
    }
    
    .broader-and-narrower {
      display: none;
    }
    
    table {
      margin-left: 16px;
      width: 90%;
      tr {
        .values, .value {
          clear: both;
          padding-bottom: 6px;
        }
      }
      ul.index {
        padding-bottom: 0px;
        li {
          padding-top: 0;
          &.selected:before {
          content: none};
        }
      }
    }
  }
  
  div.concept.show, div.concept.edit {
    section h3 {
      margin: 2px 0 2px 0;
    }
    .terms {
      padding-top: 6px;
      margin-top: 20px;
      
      .section {
        padding: 0;
      }

      li.term {
        @include single-box-shadow(rgba($greencolor, 0.2), 0px, 1px, 1px, false);
      }
      &>.language {
        @include dottedline;
        padding-top: 1px;
      }
      .language:before {
        content: none;
      }
      .term h4.value {
        font-size: 1.1em;
        padding: 0px 80px 0px 16px;
      }

      .language .properties {
        background: none;
        h3 {
          right: 0px;
        }
        &>div {
          margin-left: 12px;
          background: none;
          border-top: 1px solid white;
          &.edit {
            margin-left: 0px;
          }
        }
      }  
    }
  }
  div.concept {
    .language .properties {
      h3 {
        top: -1px;
      }
    }
  }
  .concept-to-clipboard {
//    position: absolute;
//    right: -30px;
  }
}
