@import '_config';
@import 'compass/css3';

.concept {

  .broader-and-narrower>div{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;

    .self {   
      @include concept-icon;
      color: $hit-color;
      background-color: white;
      display: inline;
      font-size: 1.1em;
      margin: 0 2%;
      max-width: 25%;
      padding-left: 14px;
      padding-right: 3px;
    }
    li {
      padding-bottom: 1px;
    }
    
    ul {
      list-style: none;
      &:empty {
        min-height: 18px;
        min-width: 30px;
        @include opacity(0.3);
      }
      
    }
    .broader, .self, .narrower {
      display: inline-block;
      vertical-align: middle;
      margin-top: 10px;
    }
    
    .broader, .narrower {
      position: relative;
        &:before {
          content:"";
          display: block;
          width: 12px;
          height: 4px;
          position: absolute;
          top: -4px;
          background: image-url("layout/bracket.png") no-repeat 0px 0px;
        };
        &:after {
          content:"";
          display: block;
          width: 12px;
          height: 4px;
          position: absolute;
          bottom: -4px;
          background: image-url("layout/bracket.png") no-repeat 0px bottom;
        };
    }
    
    .broader {
      padding: 0 5% 0 3%;
      max-width: 22%;
      background: image-url("layout/bracket.png") no-repeat right center;
      &:before {
        right: 0;
      };
      &:after {
        right: 0;
      };
    }
    .narrower {
      max-width: 38%;
      padding-right: 0;
      padding-left: 4%;
      background: image-url("layout/bracket.png") no-repeat left center;
      &:before {
        left: 0;
      };
      &:after {
        left: 0;
      };
      
      ul {
        position: relative;
        max-height: 512px;
        overflow: auto;
        padding-right: 10px;
      }
    }
  }
  
  
}