@import '_config';
@import 'compass/css3';

$edge-color: #bfc5c0;

#coreon-concept-map {

  .map {
    line-height: 0;
    width: 100%;
    height: 600px;//200px;
    border-top: 1px solid rgba(white, 0.3);
    border-bottom: 1px solid rgba(black, 0.1);
    @include retina-stripes("white");
    &:hover {
      cursor:move;
    };
    svg {
      overflow: hidden;

      text {
        font: 11px 'DroidSans', Trebuchet MS, Lucida;
        fill: $greytext-color;
      }

      .concept-node {
        cursor: pointer;
        circle {
          fill: none;
          stroke-width: 1.5px;
          stroke: $greytext-color;
        }

        &.hit {

          circle {
            stroke: $text-color;
            stroke-width: 1.6px;
          }

          text {
            fill: $hit-color;
/*            font: 13px 'DroidSansBold', Trebuchet MS, Lucida;*/
            font-size: 14px;
          }
          
          .background {
            fill: white;
            fill-opacity: 1;
            stroke: white;
            stroke-width: 2px;
          }
        }

        a:hover {
          
          text {
            fill: $link-color;
          }
          .background {
            fill-opacity: 1;
          }
        }

        .background {

          fill: white;
          fill-opacity: 0.6;

        }

        .toggle {
          fill: transparent;
          .icon {
            stroke: darken($edge-color, 10);
            stroke-width: 2px;
          }

          &:hover {
            .icon {
              stroke: $bluecolor;
            }

          }

          &.expanded {
            fill: transparent;
            .icon {
              stroke: none;
            }
            
            &:hover {
              .icon {
                stroke: $bluecolor;
              }
            }
          }
          
        }
      }

      .concept-edge {
        fill: none;
        stroke: $edge-color;
        stroke-width: 1.5px;
        stroke-opacity: 0.7;
        
        &.hit {
          stroke: $hit-color;
          stroke-opacity: 0.5;
        }
      }
    }
  }
}


