@import '_config';
@import 'compass/css3';

#coreon-concept-map {

  .map {
    line-height: 0;
    width: 100%;
    height: 200px;
    border-top: 1px solid rgba(white, 0.3);

    svg {

      text {
        font-size: 11px;
        fill: $greytext-color;
      }

      .concept-node {

        circle {
          fill: none;
          stroke-width: 2px;
          stroke: $greytext-color;
        }

        .background {
          fill: white;
        }

        &.hit {

          circle {
            stroke: $text-color;
          }

          text {
            fill: $bluecolor;
          }
        }

        &:hover {
          
          text {
            fill: $hover-color;
            cursor: pointer;
          }
        }
      }

      .concept-edge {
        fill: none;
        stroke: #bfc5c0;
        stroke-width: 1.5px;
      }
    }
  }
}


