@import '_config';
@import 'compass/css3';


/*// FIX FEATURE TESTS
div.concept section  h3 {
  text-transform: uppercase;
}*/

div.concept.new {

  h2 {
    color: $button-color;
  }

  h3 {
    @include toggle;
    padding: 0px 7px 0 5px;
    margin: 2px 0 5px 0;
    color: $browncolor;

    background: rgba($greencolor, 0.08);
    &:before {
      content: none;
    };
  }

  .broader-and-narrower {
    .self {
      color: $button-color;
    }
  }

  .properties {
    position: relative;
/*    padding: 3px 0 50px 0;*/
    padding-bottom: 50px;
  }

  .terms {
    position: relative;
    @include retina-separator;
    padding-top: 10px;

    .term {
      background-image: none;
    }

    .properties {
        padding:0;
        a.add-property {
          top: 6px;
        }
        &>.actions {
          margin: 0;
          border-top: 1px solid white;
          height: 30px;
        }

        fieldset {
          border-top: 1px solid white;
          margin:0;
          padding-left: 100px;
          background-color: rgba(white, 0.3);
        }
    }

  }

}

@media all and (max-width: 999px) and (min-width: 800px) {
  div.concept.new  {

    label {
      width: 90px;
      padding-right: 10px;
    }

    .error-message {
      padding-left: 100px;
    }

    .submit {
      font-size: 1.1em;
    }

    .terms {
      .properties {
          fieldset {
            padding-left: 40px;
          }
      }
    }
  }
}

@media all and (max-width: 799px) {

  div.concept.new  {

    label {
      padding-top: 0;
      text-align: left;
      float: none;
    }

    fieldset {
      margin-top: 16px;
      div.input {
        padding-left: 18px;
        padding-bottom: 10px;
        &:last-child {
          padding-bottom: 18px;
        };
      }

      input, textarea {
        width: 80%;
      }
    }

    .terms {
      .properties {
          padding:0;
          padding-top: 10px;

          fieldset {
            padding-left: 40px;
          }
      }
    }

    .submit {
      font-size: 1.1em;
    }

    .error-message {
      padding-left: 0px;
      width:auto;
    }

    .broader-and-narrower {
      display: none;
    }
  }
}
