@import '_config';
@import 'compass/css3';

.button {
  float: left;
  font-size: 0.86em;
  line-height: 1em;
  padding: 3px 8px;
  color: white;
  display: inline-block;
  @include edit-button;
  &.create-concept {
    padding-left: 2px;
    margin-top: 6px;
    &:before {
      @include before-icon;
      float: left;
      height: 10px;
      background-position: -3px -354px;
    };
  }
  
  &.collapsed {
    display:none;
  }
}

div.create-concept {
  
  label {
    color: $browncolor;
    display: inline-block;
    text-transform: uppercase;
    text-align: right;
    font-size: 0.8em;
    float: left;
    width: 100px;
    padding-right: 20px;
    padding-top: 5px;
  }
  
  h2 {
    color: $button-color;
  }
  
  h3 {
    @include toggle;
    padding: 0;
    margin: 2px 0 5px 0;
    padding-right: 7px;
    color: $browncolor;
    background: rgba($greencolor, 0.08);
    &:before {
      content: none;
    };
  }
  
  input {
    height:24px;
    width: 40%;
  }
  
  .terms {
    position: relative;
    @include retina-separator;
    padding-top: 10px;
    
    a.add_term {
      top: 14px;
    }
    
    a.add_term_property {
      bottom: 18px;
    }
  }
  
  .create-term, .create-property {
    position: relative;
    padding-bottom: 18px;
    margin-top: 30px;
    background-color: darken(rgba($button-color, 0.08), 12);
    &>div {
      padding-top: 18px;
    }
  }

  
  .properties {
    position: relative;
    @include dottedline;
    padding: 3px 0 30px 0;
    
    a.add_property {
      top: 6px;
    }
  }

  
  a.edit {
    font-size: 0.9em;
    color:$greencolor;
    display: block;
    position: absolute;
    right: 10px;
    
    &:before {
      @include before-icon;
      float: left;
      margin-right: 5px;
      background-position: -2px -351px;
      @include edit-button;
    };
    &:hover {
      color: $button-color;
      &:before {
        background-color: $button-color;
        @include box-shadow(rgba(white, 0.2) 0px 1px 1px inset, rgba(black, 0.2) -1px -1px 1px inset);
      };
    }
  }
  a.remove_term, a.remove_property {
    width: 16px;
    overflow: hidden;
    text-indent: -5000px;
    top: 10px;
    &:before {
      background-position: -52px -351px;
    };
  }
  
  
  
  .footer {
    overflow: hidden;
    background-color: darken(rgba($button-color, 0.18), 15);
    margin-top:26px;
    padding: 3px 10px;
    
    .button{
      float: right;
      margin: 6px;
      &.create {
        background-color: $button-color;
        @include box-shadow(rgba(white, 0.2) 0px 1px 1px inset, rgba(black, 0.2) -1px -1px 1px inset);
        @include retina-stripes(white);
        &:after {
          @include before-icon;
          float: right;
          height: 10px;
          margin-left: 4px;
          background-position: 0px -405px;
        };
        &:hover {
          background-color: saturate($button-color, 10);
        };
      }
    }
    
  }
  
}

@media all and (max-width: 999px) and (min-width: 800px) {
  div.create-concept {

    label {
      width: 90px;
      padding-right: 10px;
    }
    
    .error_message {
      padding-left: 100px;
    }
    
    .footer {
      font-size: 1.1em;
    }
  }
  
}

@media all and (max-width: 799px) {
  
  div.create-concept {

    label {
      text-align: left;
      float: none;
    }
    
    .create-term, .create-property {
      padding-left: 18px;
      &>div {
        padding-top: 6px;
      }
    }
    .create-term {
      padding-bottom: 40px;
    }
    
    input {
      width: 70%;
    }
    
    .terms {
      a.add_term_property {
        bottom: 8px;
      }
    }
    
    .footer {
      font-size: 1.1em;
    }
    
    .error_message {
      padding-left: 0px;
      width:auto;
    }
  }
  
}
  
