@import '_config';
@import 'compass/css3';

.button {
  float: left;
  font-size: 0.86em;
  line-height: 1em;
  padding: 3px 8px;
  color: white;
  display: inline-block;
  @include edit-button;
  &.create-concept {
    padding-left: 2px;
    margin-top: 6px;
    &:before {
      @include before-icon;
      float: left;
      height: 10px;
      background-position: -3px -354px;
    };
  }
  
  &.collapsed {
    display:none;
  }
}

div.create-concept {
  
  label {
    color: $browncolor;
    display: inline-block;
    text-transform: uppercase;
    text-align: right;
    font-size: 0.8em;
    float: left;
    width: 100px;
    padding-right: 20px;
    padding-top: 5px;
  }
  
  input {
    height:24px;
    width: 50%;
  }

  .create-term {
    position: relative;
    margin-top: 20px;
    padding-bottom: 18px;
    background-color: rgba($button-color, 0.1);
    &>div {
      padding-top: 18px;
    }
  }
  
  .add_property, .add_term, .remove_term, .remove_property {
    font-size: 0.9em;
    color:$greencolor;
    
    &:before {
      @include before-icon;
      float: left;
      margin-right: 5px;
      background-position: -2px -351px;
      @include edit-button;
    };
    &:hover {
      color: $button-color;
      &:before {
        background-color: $button-color;
        @include box-shadow(rgba(white, 0.2) 0px 1px 1px inset, rgba(black, 0.2) -1px -1px 1px inset);
      };
    }
  }
  .remove_term {
    width: 16px;
    overflow: hidden;
    text-indent: -5000px;
    &:before {
      background-position: -52px -351px;
    };
  }
  
  .terms .remove_term {
    top: 10px;
    position: absolute;
    right: 10px;

  }
  
  .terms .add_property {
    bottom: 10px;
    position: absolute;
    right: 10px;
  }
  
  .footer {
    overflow: hidden;
    background-color: darken(rgba($button-color, 0.2), 10);
    margin-top:26px;
    padding: 3px 10px;
    
    .button{
      float: right;
      margin: 6px;
      &.create {
        background-color: $button-color;
        @include box-shadow(rgba(white, 0.2) 0px 1px 1px inset, rgba(black, 0.2) -1px -1px 1px inset);
        @include retina-stripes(white);
        &:after {
          @include before-icon;
          float: right;
          height: 10px;
          margin-left: 4px;
          background-position: 0px -405px;
        };
        &:hover {
          background-color: saturate($button-color, 10);
        };
      }
    }
    
  }
  
}
