@import 'compass/css3';
@import '_config';

.ui-draggable-dragging {
  @include single-box-shadow(desaturate(lighten($text-color, 40%), 20%), 2px, 2px, 4px);
}
.ui-draggable-dragged {
  @include opacity(0.7);
}
.ui-droppable-clipboard {
/*  cursor: nw-resize;*/
  cursor:image-url("layout/cursor-clipboard.gif");
  &:after {
    content:"";
    position: absolute;
    left: -10px;
    top: -6px;
    display: block;
    width: 24px;
    height: 24px;
    background: image-url("layout/cursor-clipboard.png") no-repeat 0px 0px;
  };
}