@import 'compass/css3';
@import '_config';

.coreon-select {
  
  &:before {
    @include before-icon;
    position: absolute;
    height: 14px;
    width: 18px;
    left: 0;
    background-position: 3px -104px;
  }
  &:hover {
    &:before {
      background-position: -47px -104px;
    };
    cursor: pointer;
  }
  
  position: relative;
  display: inline-block;
  font-size: 0.86em;
  line-height: 1.4em;
  background-color: rgba($hit-color, 0.2);
  @include border-radius(4px);
  @include box-shadow(rgba(white, 0.2) 1px 1px 0px inset, rgba(black, 0.2) -1px -1px 0px inset);
  padding: 2px 12px 1px 22px;
  &.single {
    &:before {
      display: none;
    }
    
    padding-left: 12px;
    @include box-shadow(none);
  }
  
  &.blue {
    background-color: lighten($darkerbluecolor, 5);
    @include retina-stripes("white");
    @include box-shadow(rgba(white, 0.2) 1px 1px 0px inset, rgba(black, 0.3) -1px -1px 0px inset);
  }
  
  &.filters-select {
    @include border-radius(8px);
    padding: 3px 12px 2px 26px;
    font-size: 1em;
    
    &:before {
      height: 18px;
      width: 22px;
      background-position: 5px -103px;
    };
    &:hover {
      &:before {
        background-position: -45px -103px;
      };
    
    }
  }
  
}
