@import '_config';
@import 'compass/css3';


.button {
  float: left;
  font-size: 0.86em;
  line-height: 1em;
  padding: 3px 8px;
  color: white;
  display: inline-block;
  @include edit-button;
  &.big {
    padding-left: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1.5em;
    height: 12px;
    &:before {
      @include before-icon;
      float: left;
      height: 13px;
      background-position: -3px -354px;
    };
  }
  &.create-concept {
    @extend .big;
  }

  &.edit-concept {
    @extend .big;
    padding-left: 6px;
    position: absolute;
    left: 0;
    top: -30px;
    &:before {
      background-position: -54px -504px;
      margin-right: 3px;
    };
  }
}


.concept form {
  position: relative;

  fieldset {
    border: 0;
    border-top: 1px solid white;
  }

   &.term, fieldset {
     position: relative;
     padding-top: 18px;
     background-color: darken(rgba($button-color, 0.12), 4);
   }
   &.term {
     margin-bottom: 4px;
     @include single-box-shadow(rgba($greencolor, 0.8), 0px, 1px, 1px, false);
   }
   &.concept {
     &>.properties fieldset {
       margin-bottom: 0;
     }
   }
   &.concept section div.edit, &.term .properties .edit {
     position: relative;
     background: none;
     margin: 0;
     width: auto;
     height: 16px;
     padding: 7px 8px;
     border-top: 1px solid white;
   }

   div.input {
     padding-bottom: 18px;
     padding-left: 32px;

     &.required  {
       label {
         color: $browncolor;
       }
     }
   }

   input {
     height:24px;
     width: 40%;
   }
   textarea {
     width: 65%;
     height: 50px;
   }

   label {
     color: $greytext-color;
     display: inline-block;
     text-transform: uppercase;
     text-align: right;
     font-size: 0.8em;
     float: left;
     width: 100px;
     padding-right: 20px;
     padding-top: 5px;
   }

   .submit {
     text-align: right;
     clear: both;
     overflow: hidden;
     background-color: darken(rgba($button-color, 0.18), 15);
     padding: 3px 10px;

   .cancel, .reset, button {
     @extend .button;
     margin: 6px;
     padding: 5px 8px 3px 8px;
     float: none;
     font-size: 1em;
   }

   button {
     @include box-sizing(content-box);
     border: 0;
     padding-bottom: 4px;
     background-color: $button-color;
     @include box-shadow(rgba(white, 0.2) 0px 1px 1px inset, rgba(black, 0.2) -1px -1px 1px inset);
     @include retina-stripes(white);
     &:after {
       @include before-icon;
       float: right;
       height: 12px;
       margin-left: 4px;
       background-position: 0px -404px;
     };

      &:hover {
        background-color: saturate($button-color, 10);
      };

      &:disabled {
       &:hover {
          cursor: default;
          background-color: desaturate($button-color, 20);
       };
       background-color: desaturate($button-color, 20);
      }
    }

   }
   .disabled, button:disabled {
     cursor: default;
     @include opacity(0.5);
   }
   
   &.term, .term {

     .submit {
       margin-top: 1px;
     }
     
     .properties {
         padding:0;
         position: relative;
         background: none;

         fieldset {
           border-top: 1px solid white;
           margin:0;
           padding-left: 100px;
           background-color: rgba(white, 0.3);
         }
         h3 {
           padding: 1px 7px 0 5px;
           margin: 0;
           margin-top: 5px;
           background: rgba(white, 0.3);
           &:before {
             content: none;
           };
           position: relative;
           left: 34px;
           top: 1px;
         }
     }

   }

}


form.create.term {
  clear: both;
  margin-bottom: 20px;
}


.concept.edit .broader-and-narrower {
  min-height: 44px;
  
  form {
    overflow: hidden;
    background-color: darken(rgba($button-color, 0.12), 4);
    >div {
      margin-left: 32px;
    }
    .broader {
      padding-left: 5px;
    }
    .narrower {
      padding-right: 5px;
    }
    .submit {
      margin-top: 1px;
    }
    &.disabled {
      @include opacity(0.4);
    }
    ul .concept-label:hover {
      color: $greytext-color;
      @include single-box-shadow(rgba($text-color, 0.4), 2px, 2px, 2px);
    }
  }
}
 
.concept  {
  .edit a, fieldset a {
   font-size: 0.9em;
   color:$greencolor;
   display: inline-block;
   position: relative;
   overflow: hidden;
   text-indent: -2000px;
   width: 16px;

   &:before {
     @include before-icon;
     float: left;
     margin-right: 5px;
     background-position: -2px -351px;
     @include edit-button;
   };
   &:not(.disabled){
     &:hover {
       color: $button-color;
       &:before {
         background-color: $button-color;
         @include box-shadow(rgba(white, 0.2) 0px 1px 1px inset, rgba(black, 0.2) -1px -1px 1px inset);
       };
     }
  }
  }
  a.remove-term, a.remove-property, a.delete-concept {
   &:before {
     background-position: -52px -351px;
   };
  }

  a.edit-properties, a.edit-term, a.edit-connections {
   &:before {
     background-position: -52px -502px;
   };
  }
  
  a.add-term, a.add-property {
    width: auto;
    overflow: auto;
    text-indent: 10px;
  }
  
  a.remove-property, a.remove-term {
    position: absolute;
    top: 8px;
    left: 8px;
  }

}

// for edit mode
.concept.show {
  .edit {
    display: none;
  }

}

.concept.edit {
  form {
    @include editmode;
  }
  
  div.edit {
    background-color: $editmode-color;
    width: 16px;
    padding: 5px 8px;    
  }
  
  >section div.edit {
    @include dottedline;
  }
  
  .concept-head div.edit, section div.edit {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  
  .terms >.add {
    clear: both;
    margin-bottom: 20px;
    @include single-box-shadow(rgba($greencolor, 0.4), 0px, 1px, 1px, false);
    background-color: rgba($greencolor, 0.05);
    .edit {
      min-height: 16px;
      padding: 8px;
    }
    a {
      position: absolute;
    }
  }

  &>section, form>section {
    background-color: rgba($greencolor, 0.05);
    &>h3, &>div:not(.add):last-child {
      margin-left: 38px;
    }

  }
  .concept-head {
    margin-left: 38px;
    div.edit {
      left: -38px;
    }
  }



  .button.edit-concept {
    background-color: $editmode-color;
    color: $greencolor;
    margin-left: -38px;
    &:before {
      background-position: -4px -504px;
    };
  }
  
  
  .language li.term {
    background-color: rgba($greencolor, 0.05);  
    min-height: 44px;  
  }
  
  .term.delete {
    .value, .properties {
      @include opacity(0.4);
    }
  }
  .property.delete {
    background-color:$greycolor;
    @include opacity(0.4);
    &:before {
      @include before-icon;
      background-position: 0px -552px;
      position: absolute;
      left: 8px;
      top: 6px;
    };
  }
}

.concept.delete {
  &>* {
    @include opacity(0.4);
  }
  &>.edit {
      @include opacity(1);
  }
}


@media all and (max-width: 999px) and (min-width: 800px) {
  div.concept  {

    label {
      width: 90px;
      padding-right: 10px;
    }

    .error-message {
      padding-left: 100px;
    }

    .submit {
      font-size: 1.1em;
    }

    .terms {
      .properties {
          fieldset {
            padding-left: 40px;
          }
      }
    }
  }
  .concept.edit {
    .language li.term {
      .edit {
        height: 24px;
      }
      .properties h3 {
        top: 24px;
      }
//      .system-info-toggle {
//        top: 30px;
//      }

    }
    
  }
}

@media all and (max-width: 799px) {

  div.concept {

    label {
      padding-top: 0;
      text-align: left;
      float: none;
    }

    .create, .update {
      &.term .properties, .term .properties {
          padding-top: 10px;

          fieldset {
            padding-left: 40px;
          }
      }
      fieldset, &.term {
        div.input {
          padding-left: 18px;
          padding-bottom: 10px;
          &:last-child {
            padding-bottom: 18px;
          };
        }

        input, textarea {
          width: 80%;
        }
      }
    }

    .submit {
      font-size: 0.94em;
      padding-right: 5px;
      .cancel, .reset {
        margin: 3px;
      }
    }

    .error-message {
      padding-left: 0px;
      width:auto;
    }

  }
  .concept.edit {
    .language li.term {
      .edit {
        height: 24px;
        .remove-term, .edit-term {
          top: 5px;
        }
      }
      .properties h3 {
        top: 24px;
      }

    }
    

    
  }
  
}



