@import '_config';
@import 'compass/css3';

div.concept {
  .actions {
    width: 100%;
    height: 24px;
  }
}

.button {
  float: left;
  font-size: 0.86em;
  line-height: 1em;
  padding: 3px 8px;
  color: white;
  display: inline-block;
  @include edit-button;
  &.big {
    padding-left: 2px;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1.5em;
    height: 12px;
    &:before {
      @include before-icon;
      float: left;
      height: 13px;
      background-position: -3px -354px;
    };
  }
  &.create-concept {
    @extend .big;
  }

  &.edit-concept {
    @extend .big;
    padding-left: 6px;
    float: right;
    margin-left: 14px;
    &:before {
      background-position: -54px -504px;
      margin-right: 3px;
    };
  }
}

.concept-to-clipboard {
  font-size: 0.9em;
  display: inline-block;
  float: right;
  margin-left: 10px;
  height: 18px;
  &:before {
    @include before-icon;
    float: left;
    width: 18px;
    background-position: -3px -650px;
  };
  &:hover {
    color: $hover-color;
  }
  &.remove {
    &:before {
      background-position: -53px -650px;
    };
  }
}


.concept.edit .broader-and-narrower {
  
  form.static {
    .submit {
      display: none;
    }
  }

  form.active {
    overflow: hidden;
    background-color: darken(rgba($button-color, 0.1), 12);
    margin-left: -5px;
    .broader.ui-droppable {
      padding-left: 5px;
    }
    .self.ui-droppable {
      max-width: 22%;
    }
    .narrower.ui-droppable {
      max-width: 30%;
    }
    .submit {
      margin-top: 1px;
    }
  }
}

form.update {
  background-color: darken(rgba($button-color, 0.1), 4);
}

.concept form {

   &.term, fieldset {
     position: relative;
     border: 0;
     padding-top: 18px;
     margin-bottom: 26px;
     background-color: darken(rgba($button-color, 0.1), 12);
   }
   &.term {
     margin-bottom: 4px;
     @include single-box-shadow(rgba($greencolor, 0.8), 0px, 1px, 1px, false);
   }
   &.concept {
     &>.properties fieldset {

       margin-bottom: 0;
       border-bottom: 1px solid white;
       &:last-of-type {
         margin-bottom: 26px;
         border-bottom: none;
       };
     }
   }


   &.term, .term {

     .submit {
       margin-top: 1px;
     }
     
     .properties {
         padding:0;
         position: relative;
         background: none;
         a.add-property {
           top: 6px;
         }
         &>.edit {
           margin: 0;
           background: none;
           border-top: 1px solid white;
           height: 30px;
         }

         fieldset {
           border-top: 1px solid white;
           margin:0;
           padding-left: 100px;
           background-color: rgba(white, 0.3);
         }
         h3 {
           @include toggle;
           padding: 0px 7px 0 5px;
           margin: 2px 0 0 0;
           color: $browncolor;

           background: rgba(white, 0.3);
           &:before {
             content: none;
           };
           position: relative;
           left: 0;
           top: 0;
         }
     }

   }

   div.input {
     padding-bottom: 18px;

     &.required  {
       label {
         color: $browncolor;
       }
     }
   }

   input {
     height:24px;
     width: 40%;
   }
   textarea {
     width: 65%;
     height: 50px;
   }

   label {
     color: $greytext-color;
     display: inline-block;
     text-transform: uppercase;
     text-align: right;
     font-size: 0.8em;
     float: left;
     width: 100px;
     padding-right: 20px;
     padding-top: 5px;
   }
   .submit {
     text-align: right;
     clear: both;
     overflow: hidden;
     background-color: darken(rgba($button-color, 0.18), 15);
     padding: 3px 10px;

     .cancel, .reset {
       @extend .button;
       margin: 6px;
       padding: 5px 8px 3px 8px;
       float: none;
       font-size: 1em;
       &.disabled {
         @include opacity(0.5);
       }
     }

       button {
         @extend .cancel;
         @include box-sizing(content-box);
         border: 0;
         padding-bottom: 4px;
         background-color: $button-color;
         @include box-shadow(rgba(white, 0.2) 0px 1px 1px inset, rgba(black, 0.2) -1px -1px 1px inset);
         @include retina-stripes(white);
         &:after {
           @include before-icon;
           float: right;
           height: 12px;
           margin-left: 4px;
           background-position: 0px -404px;
         };
         &:hover {
           background-color: saturate($button-color, 10);
         };
         &:disabled {
           background-color: desaturate($button-color, 20);
         }
       }

   }

}
form.create.term {
  @include retina-BigSeparator;
  margin-top: 28px;
  padding-top: 36px;
}
 
.concept  {
     .edit a {
       font-size: 0.9em;
       color:$greencolor;
       display: inline-block;
       margin-right: 10px;
       float: right;
       position: relative;
       top: -10px;

       &:before {
         @include before-icon;
         float: left;
         margin-right: 5px;
         background-position: -2px -351px;
         @include edit-button;
       };
       &:hover {
         color: $button-color;
         &:before {
           background-color: $button-color;
           @include box-shadow(rgba(white, 0.2) 0px 1px 1px inset, rgba(black, 0.2) -1px -1px 1px inset);
         };
       }
     }
     a.remove-term, a.remove-property, a.delete-concept {
       &:before {
         background-position: -52px -351px;
       };
     }
     a.remove-term, a.remove-property {
       position: absolute;
       top: 8px;
       right: 0;
     }

     a.remove-term {
       right: 24px;
       margin-right: 4px;
       width: 16px;
       overflow: hidden;
       top: 6px;
       text-indent: -2000px;
     }
     a.edit-term {
       position: absolute;
       top: 6px;
       right: 0;
     }
     a.delete-concept {
       float: right;
       top: 0px;
     }
     a.add-narrower {
       position: absolute;
       top: 6px;
       right: 24px;
     }
     .terms a.remove-property {
       width: 16px;
       overflow: hidden;
       text-indent: -2000px;
     }
     a.edit-properties, a.edit-term, a.edit-connections {
       position: absolute;
       top: 6px;
       right: 6px;
       width: 16px;
       overflow: hidden;
       text-indent: -5000px;
       margin-right: 0;
       &:before {
         background-position: -52px -502px;
       };
     }
}

// for edit mode
.concept.show {
  .edit, .submit {
    display: none;
  }

}

.concept.edit {
  &>section, form>section {
    background-color: rgba($greencolor, 0.05);

  }
  .button.edit-concept {
    background-color: $beigecolor;
    color: $greencolor;
    &:before {
      background-position: -4px -504px;
    };
  }
  
  .terms >.edit {
    height:20px;
    .add-term {
      top: 20px;
    }
  }
  
  .language li.term {
    
    background-color: rgba($greencolor, 0.08);
    .edit {
      height: 12px;
    }
    .properties h3 {
      top: 22px;
    }
    .system-info-toggle {
      top: 28px;
    }
    
  }
  
  .term.delete {
    .value, .properties {
      @include opacity(0.4);
    }
  }
  .property.delete {
    background-color:$greycolor;
    @include opacity(0.4);
    .edit {
      position: absolute;
      right: 10px;
      top: 10px;
      &:before {
        @include before-icon;
        background-position: 0px -552px;
      };
    }
  }
}

.concept.delete {
  &>* {
    @include opacity(0.4);
  }
  &>.edit {
      @include opacity(1);
  }
}


@media all and (max-width: 999px) and (min-width: 800px) {
  div.concept  {

    label {
      width: 90px;
      padding-right: 10px;
    }

    .error-message {
      padding-left: 100px;
    }

    .submit {
      font-size: 1.1em;
    }

    .terms {
      .properties {
          fieldset {
            padding-left: 40px;
          }
      }
    }
  }
  .concept.edit {
    .language li.term {
      .edit {
        height: 24px;
      }
      .properties h3 {
        top: 24px;
      }
      .system-info-toggle {
        top: 30px;
      }

    }
    
  }
}

@media all and (max-width: 799px) {

  div.concept {

    label {
      padding-top: 0;
      text-align: left;
      float: none;
    }

    .create, .update {
      &.term .properties, .term .properties {
          padding-top: 10px;

          fieldset {
            padding-left: 40px;
          }
      }
      fieldset, &.term {
        div.input {
          padding-left: 18px;
          padding-bottom: 10px;
          &:last-child {
            padding-bottom: 18px;
          };
        }

        input, textarea {
          width: 80%;
        }
      }
    }

    .submit {
      font-size: 0.94em;
      padding-right: 5px;
      .cancel, .reset {
        margin: 3px;
      }
    }

    .error-message {
      padding-left: 0px;
      width:auto;
    }

  }
  .concept.edit {
    .language li.term {
      .edit {
        height: 24px;
        .remove-term, .edit-term {
          top: 5px;
        }
      }
      .properties h3 {
        top: 24px;
      }

    }
    

    
  }
  .concept-to-clipboard {
    text-indent: -2000px;
    overflow: hidden;
    width: 16px;
    height: 20px;
    position: absolute;
    right: -30px;
  }
  
}



