@import 'compass/css3';
@import '_config';

#coreon-repository-select {
  font-size: 0.94em;
  height: 22px;
  
  h4, a {
    display: inline-block;
    height: 18px;  
    padding: 2px;
  }
  
  h4 {
    background-color: rgba($hit-color, 0.2);
    @include border-radius(8px);
    @include box-shadow(rgba(white, 0.2) 1px 1px 0px inset, rgba(black, 0.2) -1px -1px 0px inset);
    padding: 2px 12px 2px 0;
    &.single {
      padding: 2px 10px;
      @include box-shadow(none);
    }
  }
  
  a {
    float: left;
    width: 22px;
    background: image-url("layout/icons.png") no-repeat 5px -102px;
    @include retina-icons;
    text-indent: -2000px;
    overflow: hidden;
    &:hover {
      background-position: -45px -102px;
    };
  }
  
}
