

@mixin gmah-font-face($family, $basename) {
  @font-face {
  	font-family: quote($family);
  	src: font-url("#{$basename}.eot");
  	src: local('☺'), font-url("#{$basename}.woff") format('woff'), font-url("#{$basename}.ttf") format('truetype'), font-url("#{$basename}.svg") format('svg');
  	font-weight: normal;
  	font-style: normal;
  }
}

@include gmah-font-face('DroidSans', DroidSans-webfont);
@include gmah-font-face('DroidSansBold', DroidSans-Bold-webfont);
@include gmah-font-face('DroidSerif', DroidSerif-Regular-webfont);
@include gmah-font-face('Goudy', GoudyStM-webfont);
@include gmah-font-face('Arvo', arvo-regular-webfont);
@include gmah-font-face('Andada', andada-regular-webfont);
@include gmah-font-face('Bitter', bitter-regular-webfont);
@include gmah-font-face('Gaspar', Gaspar-Regular-webfont);
@include gmah-font-face('Aleo', aleo-regular-webfont);
@include gmah-font-face('PT', ptf55f-webfont);