@import 'compass/css3';
@import '_config';

#coreon-password-prompt {
  position: absolute;
  top: 0;
  //because #coreon-modal has 200% width
  width: 50%;
  height: 3000px;
  background-color: rgba($text-color, 0.5);
  
  .prompt {
    @include box-sizing(border-box);
    background-color: $greycolor;
    @include box-shadow(rgba(white, 0.4) 0px 1px 1px inset, rgba(black, 0.2) -1px -1px 1px inset, rgba(black, 0.4) 2px 2px 5px);
    min-width: 300px;
    width: 50%;
    max-width: 450px;
    margin: 200px auto;
    
    input[type="password"] {
      width: 82%;
      height: 29px;
      float: left;
    }
    
    input[type="submit"] {
      @include submit-button;
      background-position: -44px -50px;   
    }
    
    label {
      display: none;
    }
    
    p, form {
      padding: 15px 22px;
    }
    
    form {
      padding-bottom: 20px;
      border-bottom: 1px solid darken($greycolor, 4%);
    }
    
    .links {
      border-top: 1px solid lighten($greycolor, 4%);
      @include retina-stripes("white");
    }
    
  }
}

.coreon-select-dropdown, 
#coreon-search-target-select-dropdown {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3000px; 
  
  ul.options {
    list-style: none;
    background-color: $beigecolor;
    @include single-box-shadow(rgba($text-color, 0.5), 1px, 2px, 2px, false);
    padding: 1px 0 0 0;
    
    .option {
      font-size: 0.86em;
      color: $browncolor;
      position: relative;
      
      &:last-child {
        @include border-bottom-radius(6px);
      };
      
      &.focus {
        background-color: rgba($text-color, 0.08);
      }
      
      &.selected {
        color: $bluecolor;
        
        &:before {
          @include before-icon;
          position: absolute;
          left: 2px;
          top: 0px;
          background-position: 0px -150px;
        };
      }
    }
  }

}

#coreon-search-target-select-dropdown {
  
  ul.options {
    @include dottedline;
    @include border-bottom-radius(6px);
    .option {
        padding: 2px 10px 1px 26px;
      &:first-child {
        border-bottom: 1px solid darken($greycolor, 2%);
      }
    }
  }  
}

.coreon-select-dropdown {
  
  ul.options {
    position: relative;
    float: left;
    @include border-radius(4px);

    .option {
      float: left;
      clear: left;
      width: 100%;
      
      &:first-child {
        @include border-top-radius(4px);
      };

      &.selected a, &.selected span {
        color: $bluecolor;
      }
      
      a, span {
        @include box-sizing(border-box);
        color: $browncolor;
        display: block;
        padding: 1px 14px 0px 22px;
        width: 100%;
      }
    }
  }  
  
  &.blue {
    ul.options {
      background-color: lighten($petrol, 40);
    }
  }
  &.filters-select {
    ul.options {
      @include border-radius(8px);
      .option {   
        &:first-child {
          @include border-top-radius(8px);
        };
      }
      a, span {
        padding: 1px 14px 0px 26px;
      }
    }
    
  }
}
