@import 'compass/css3';
@import '_config';

#coreon-notifications {
  position: relative;
  padding-left: 80px;
  list-style: none;
  
  .notification {
    display: block;
    @include border-radius(4px);
    @include box-shadow(rgba(white, 0.05) 1px 1px 0px, rgba(black, 0.1) 1px 1px 1px inset);
    background-color: rgba(0,0,0,0.1);
    color: $greycolor;
    font-size: 0.92em;
    padding: 1px 6px;
    width: 90%;
    max-width: 550px;
    margin: 3px;
    
    .label {
      display: inline-block;
      overflow: hidden;
      text-indent: -2000px;
      width: 7px;
      height: 7px;
      margin-right: 6px;
      margin-bottom: 1px;
      background-color: $notice-color;
      @include border-radius(3.5px);  
    }

    &.error .label {
      background-color: $error-color;
    }

    .hide {
      display: inline-block;
      overflow: hidden;
      text-indent: -2000px;
      width: 14px;
      height: 14px;
      float: right;
      position: relative;
      top: 3px;
      background: image-url("layout/icons.png") no-repeat -50px 1px;
      @include retina-icons;
      @include opacity(0.5);

      &:hover {
        @include opacity(1);
      };
    }
    
  }
  
}
