@import '_config';
@import 'compass/css3';


#coreon-search {
  @include box-sizing(border-box);
  padding: 11px 16px;
  background-color: $darkerbluecolor;
  @include box-shadow(rgba(white, 0.4) 0px 1px 1px inset, rgba(black, 0.2) -1px -1px 1px inset);
  
  label {
    display: none;
  }
  
  #coreon-search-query {
    width: $widget-width - 80px;
    height: 28px;
    padding-left: 28px;
    @include single-box-shadow($text-color, 1px, 1px, 2px, false, inset);
    float: left;
  }

  #coreon-search-target-select {

    position: absolute;
    
    .toggle {
      display: block;
      float: left;
      width: 28px;
      height: 28px;
      background: image-url("layout/icons.png") no-repeat 6px -96px;
      @include retina-icons;
      &:hover {
        background-position: -44px -96px;
      };
    }

    .hint {
      float: left;
      color: lighten($text-color, 60%);
      padding-top: 5px;
      padding-bottom: 3px;
      width: $widget-width - 80px - 28px;
    }

  }
  
  input[type="submit"] {
    @include submit-button;
    background-position: 0 -50px;   
  }
  
}

#coreon-search-target-select-dropdown {
  position: absolute;
  top: 0;
  width: 100%;
  height: 3000px; 
  z-index: 1000;
  
  .options {
    position: absolute;
    right: 64px;
    top: 39px;
    border-top: 1px dotted $browncolor;
    width: $widget-width - 80px;
  }
}
