@import 'compass/css3';
@import '_config';

.search-results-terms, .search-results-concepts, .search-results-tnodes, .concept-list {
  margin-right: 270px;

  &>table {  
    border-spacing: 0;
    width: 100%;
    min-width: 200px;
    margin-bottom: 30px;
    position: relative;
    
    thead th {
      border-bottom: 1px solid $greencolor;   
/*      height: 14px;*/
      position: relative;
      &:before {
        @include before-icon;
        position: absolute;
        top: 1.3em;
        background-position: -52px -150px;
      }
    }

    tr {
      vertical-align: baseline;
      text-align: left;

      th {
        font-weight: normal;
        text-align: left;
        text-transform: uppercase;
        line-height: 15px;
        font-size: 0.8em;
      }

      td {
        border-bottom: 1px solid $greycolor;

        &.lang {
          text-transform: uppercase;
          font-size: 0.9em;
          color: $greencolor;
        }

        &.term {
          font: 1.1em Palatino;
        }
      }

      td, th {      
      padding: 3px 16px 2px 2px;

        &.lang {
          width: 14%;
        }
      }

      &:first-child {
        td {
          padding-top: 16px;
        }
      }

    }
    
    &.terms {
      .concept {
        width: 36%;
        padding-right: 4px;
      }    
    }

    &.concepts {
      .super {
        width: 36%;
        padding-right: 4px;
      }
      td.label {
        font-size: 1.1em;
      }
    }

    &.tnodes {
      color: $greencolor;
      td {
        border:none;
      }
    }

  }
  
}

.search-results-terms, .search-results-concepts, .search-results-tnodes {
  
  h3 {
    text-transform: uppercase;
    color: $greencolor;
    font-size: 0.9em;
    position: relative;
    display: block;
    height: 20px;
    top: 20px;
  }
  
  .actions {
    @include dottedline;
    margin-bottom: 10px;
    display: block;
    text-align: right;
    min-width: 400px;
    .show-all {
      @include toggle;
    }
    
  }
  
  .edit {
    position: absolute;
    padding-top: 6px;
  }

  table {  

    tr {
      th {
        &:first-child{
          text-indent: -8000px;
/*          overflow: hidden;*/
        }
      }

      td, th {      
        &:first-child {
          padding-left: 10%;
        }
      }
    } 
  }
  
}

.concept-list {
  &>table {
    tr:last-child {
      td {
        @include dottedline;
        background-position: bottom;
        border: none;
      }
    };
    .terms td{
      padding-bottom: 8px;
    }
  }

  .concepts table{

    th {
      width: 100px;
      text-align: right;
      color: $greencolor;
    }
    tr {
      td, th {
        border: none;
        padding-top: 2px;
        padding-bottom: 0;
        background: none;
      }
    }
    
  }
  
}

.repository .contact {
  @extend .search-results-concepts;
  margin-top: 30px;
  margin-right: 0;
  
  table.managers {
    width: 100%;
    
    td, th {      
      &:first-child {
        padding-left: 112px;
      }
    }
    th {
      &:first-child{
        text-indent: 0px;
      }
    }
  }
}

@media all and (max-width: 799px) and (min-width: 600px) {
  
  .search-results-tnodes {
    display: none;
  }
  
  .search-results-concepts, .search-results-terms {
    
    h3 {
      top: 14px;
      font-size: 0.86em;
    }
    
    &>table { 
      
      margin-bottom: 4px;
      thead {
        display: none;
      }
      
      tr td {
        padding: 0px 16px 0px 10px;
        &:first-child {
          padding-left: 16px;
        }
      }
      
      &.concepts {
        .super {
           display: none;
        }
        td.label {
          font-size: 0.86em;
        }
      }
      &.terms {
        font-size: 0.8em;
        line-height: 1.8em;
        .concept {
          width: auto;
          padding-right: 0;
        }
      }
    }
    
    .actions .show-all{
      display: none;
    }
    
  }
  
}

@media all and (max-width: 599px) {
  
  .search-results-terms, .search-results-tnodes {
    display: none;
  }
  
  .search-results-concepts {
    
    h3 {
      display: none;
    }
    
    &>table { 
      thead {
        display: none;
      }
      
      tr td {
        padding: 1px 16px 1px 10px;
        &:first-child {
          padding-left: 16px;
        }
      }
      
      &.concepts {
        .super {
           display: none;
        }
        td.label {
          font-size: 0.86em;
        }
      }
    }
    
    .actions .show-all{
      display: none;
    }
    
  }
  
}



