@import 'compass/css3';
@import '_config';

#coreon-status {
  @include box-sizing(border-box);
  background:image-url("layout/top-bg.jpg");
  padding:6px;
  min-width: 900px;
  width: 100%;
  @include single-box-shadow(rgba(0,0,0,0.8), 0, -1px, 2px, false, inset);
  
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      background-image: image-url('layout/top-bg@2x.jpg');
      @include background-size(199px 65px);
  }
}

.notifications {
  padding-left: 80px;
  list-style: none;

  .label {
    display: inline-block;
    overflow: hidden;
    text-indent: -2000px;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    margin-bottom: 1px;
    background-color: $notice-color;
    @include border-radius(4px);
    @include box-shadow(rgba(white, 0.2) 1px 1px 0px, rgba(black, 0.4) 1px 1px 1px inset);
    
  }
  
  .error .label {
    background-color: $error-color;
  }
  
  .message {
    display: inline-block;
    @include border-radius(4px);
    @include box-shadow(rgba(white, 0.05) 1px 1px 0px, rgba(black, 0.1) 1px 1px 1px inset);
    background-color: rgba(0,0,0,0.1);
    color: $greycolor;
    font-size: 0.92em;
    padding: 1px 6px;
    width: 550px;
    margin: 2px;
  }
  
  .hide {
    display: inline-block;
    overflow: hidden;
    text-indent: -2000px;
    width: 14px;
    height: 14px;
    position: relative;
    top: 3px;
    left: -24px;
    background: image-url("layout/icons.png") no-repeat -50px 1px;
    @include retina-icons;
    @include opacity(0.5);
    
    &:hover {
      @include opacity(1);
    };
  }
  
}
