@import '_config';
@import 'compass/css3';

#coreon-languages {
  h4 {
    color: $text-color;
    &:before {
      content: none;
    }
  }

  form {
    border-top: 1px solid rgba(white, 0.1);
    padding: 8px 20px;
  }
  
  .arrow {
    display: inline-block;
    width: 30px;
    height: 11px;
    @include retina-icons;
    background-position: -42px -800px;
  }
}