@import '_config';
@import 'compass/css3';

#coreon-concept-map {
  h4:before {
    background-position: -2px -902px;
  }
  
  .zoom-in {

    &:before {
      @include before-icon;
      background-position: 1px -350px;
    }

    &:hover {

      &:before {
        background-position: -49px -350px;
      }
    }
  }
  
  .zoom-out {

    &:before {
      @include before-icon;
      background-position: 1px -400px;
    }

    &:hover {

      &:before {
        background-position: -49px -400px;
      }
    }
  }
  
  .toggle-orientation {

    &:before {
      @include before-icon;
      background-position: 0 -800px;
    }

    &:hover {

      &:before {
        background-position: -50px -800px;
      }
    }
  }

}
