@import '_config';
@import 'compass/css3';

#coreon-term-list {



  h4:before {
    background-position: 0px -900px;
  }


  .toggle-scope {

    &:before {
      @include before-icon;
      background-position: 0 -950px;
      width: 18px;
      height: 18px;
    }

    &:hover {
      &:before {
        background-position: -50px -950px;
      }
    }

  }

  table {
    width: 100%;
    border-top: 1px solid rgba(white, 0.2);
    min-height: 12px;
    display: block;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;

    tbody {
      display: inline-block;
      width: 92%;
      padding: 6px 0 6px 10px;
      position: relative;
    }

    tr {
      display: inline-block;
      width: 100%;
      line-height: 1.2em;
      border-bottom: 1px solid rgba(black, 0.05);
      border-top: 1px solid rgba(white, 0.4);
      vertical-align: top;
      padding-left: 6px;
      &.term:hover {
        cursor: pointer;
        td, td a {
          color: $link-color;
        };
      };

      &.term td {
        display: inline-block;
        font: 1em Palatino;
        padding: 4px 0px 1px 0;
        width: 49%;
        word-wrap: break-word;
        color: darken($greytext-color, 20);
        &:only-child {
          width: 100%;
        };

      }

      a {
        color: $text-color;
      }

      &.hit a {
        color: $hit-color;
      }

      &:last-child {
          border-bottom: none;
      }
      &.empty  {
        td {
          @include empty;
          display: inline-block;
          padding: 16px 0;
          width: 100%;
          text-align: center;
          color: $greytext-color;
        }
      }
      &.placeholder {
        display: inline-block;
        height: 32px;
        width: 100%;
        background-color: rgba(darken($greycolor, 20), 0.2);
        text-align: center;
        text-indent: -2000px;
        @include loading;
        &:before {
          margin-left: -10px;
          margin-top: 6px;
        };
      }
    }

  }
}
