#coreon-modal {
  
  .dialog {
    background-color: $button-hover-color;
    @include border-radius(6px);    
    
    &:before {
    	background-color: $button-hover-color;
    }
    
    &.flipped {
      &:before {
        background-color: $button-hover-color;
      }
    }

  }
  
}