$text-color: black;
$hit-color: #3da2e6;
$link-color: #43aaa4;
$hover-color: #5fba83;

//text-color light
$text-color-light: #333333;

//label-color
$label-color: #444444;

//header background
$bg-color: #f0f3f4;

//widget bg color
$darker-bg-color: #eeeeee;

//term background
$secondary-color: desaturate($hit-color, 60%);

//search + language widget backgrond
$search-bg-color: #cccccc;

//edit-background color
$editmode-color: #dddddd;

//button hover color, drag&drop
$button-hover-color: desaturate($hover-color, 50%);

//button-color
$button-color: desaturate($link-color, 50%);


$error-color: #f25a5a;
$notice-color: #6bc175;