$text-color: #3f3b2c;
$hit-color: #3da2e6;
$link-color: #43aaa4;
$hover-color: #5fba83;

//text-color light
$text-color-light: #989791;

//label-color
$label-color: #554f3c;

//header background
$bg-color: #f0f3f4;

//widget bg color
$darker-bg-color: #e1ebe9;

//term background
$secondary-color: #5498b0;

//search + language widget backgrond
$search-bg-color: #6cb1d3;

//edit-background color
$editmode-color: #c3ccb9;

//button hover color, drag&drop
$button-hover-color: #73a254;

//button-color
$button-color: #717a53;


$error-color: #f25a5a;
$notice-color: #6bc175;