$widget-width: 320px;

$serif: Palatino, Palatino Linotype, Book Antiqua, Georgia;

@mixin editmode {
  &:before {
    content: "";
    background-color: $editmode-color;
    width: 16px;
    padding: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
  }
}


@mixin edit-button {
  background-color: $button-color;
  &:not(.disabled){
    &:hover {
      cursor: pointer;
      color: white;
      background-color: $button-hover-color;
    }
  }
}

@mixin before-icon {
    content:"";
    display: block;
    width: 16px;
    height: 16px;
    background: image-url("layout/icons.svg") no-repeat 0px 0px;
}

@mixin droparea {
  background-color: rgba($button-hover-color, 0.3);
  @include single-box-shadow(rgba(#555555, 0.5), 1px, 1px, 3px, false, inset);
  padding: 9px 16px 8px 17px;
}


@mixin svg-icons {
  background-image: image-url('layout/icons.svg');
  background-repeat: no-repeat;
}

//@mixin retina-separator {
//  background-image: image-url('layout/separator.png');
//  background-repeat: repeat-x;
//  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
//      background-image: image-url('layout/separator@2x.png');
//      @include background-size(4px 8px);
//  } 
//}
//
//@mixin retina-BigSeparator {
//  background-image: image-url('layout/separatorBig.png');
//  background-repeat: repeat-x;
//  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
//      background-image: image-url('layout/separatorBig@2x.png');
//      @include background-size(8px 17px);
//  } 
//}
//
//@mixin dottedline {
//  background-image: image-url('layout/dottedline.svg');
//  background-repeat: repeat-x;
//}
//
//@mixin retina-stripes($color) {
//  background-image: image-url('layout/stripes-#{$color}.svg');
//}
